<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.juego2.ugb2016"
	version 	= "1.0.0">

	<name>JUEGO ANDROID</name>
     
	<description>
		JUEGO DE PIEDRA PAPEL O TIJERA
	</description>

	<author href="http://tfcjuanz.tumblr.com"
		email="tfcjuanz@gmail.com">
		JLuis Rodriguez
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="1.0" />
 
	</gap:platforms>

	<icon src="logo.png" gap:role="default" />
	 
<access origin='*'/>
<allow-navigation href="http://*/*" />
<allow-navigation href="https://*/*" />
<allow-navigation href="data:*" />
<allow-navigation href="*" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

</widget>